@use './colors' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	background-color: $off-white;
}

.main {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
}

.calculator {
	margin-top: 6rem;
	padding: 3.5em 1.5em;
	height: max-content;
	background-color: $white;
	border-radius: 20px;
	border-bottom-right-radius: 100px;

	&__data {
		display: flex;
		gap: 1em;

		.error {
			label {
				color: $light-red;
			}

			input {
				border: 1px solid $light-red;
			}

			.error-info {
				display: block;
			}
		}

		&-box {
			display: flex;
			flex-direction: column;
			gap: 0.2em;
			max-width: 85px;

			.error-info {
				display: none;
				font-style: italic;
				font-size: 1.1rem;
				color: $light-red;
			}

			label {
				text-transform: uppercase;
				font-size: 1.2rem;
				color: $smokey-grey;
				letter-spacing: 2px;
			}

			input {
				padding: 0.7em;
				font-family: 'Poppins', sans-serif;
				font-size: 2rem;
				border-radius: 6px;
				border: 1px solid $light-grey;
				font-weight: 800;
				color: $off-black;

				&:focus {
					outline: none;
					border: 1px solid $purple;
				}

				&::placeholder {
					font-weight: 800;
					color: $smokey-grey;
				}
			}
		}
	}

	&__line {
		position: relative;
		padding: 5em 0;
		width: 100%;
		height: 1px;

		hr {
			border: none;
			border-top: 1px solid $light-grey;
		}

		&-btn {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1.6em;
			border: 2px solid $purple;
			background-color: $purple;
			border-radius: 50%;
			cursor: pointer;
			transition: background-color 0.3s;

			&:focus {
				outline: none;
				background-color: hsl(318, 50%, 47%);
			}

			&:hover {
				background-color: $off-black;
			}

			img {
				height: 2em;
				width: 2em;
			}
		}
	}

	&__info {
		&-text {
			font-weight: 700;
			font-style: italic;
			color: $off-black;
			font-size: 5rem;
			line-height: 1.2em;

			span {
				color: $purple;
			}
		}
	}
}

.attribution {
	padding: 2em;
	line-height: 1.9em;
	font-size: 1.6rem;
	text-align: center;
}

.attribution a {
	position: relative;
	padding: 0.2em 0.2em;
	color: hsl(228, 45%, 44%);
	border-bottom: 2px solid hsl(228, 45%, 44%);
	text-decoration: none;
	overflow: hidden;
	z-index: 1;
	transition: color 0.3s;

	&:hover {
		color: #fff;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0;
		width: 100%;
		background-color: hsl(228, 45%, 44%);
		z-index: -1;
		transition: height 0.3s;
	}

	&:hover::after {
		height: 100%;
	}
}

@media (min-width: 1440px) {
	.main {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.calculator {
		margin: 0;
		padding: 2.5em 5em 2.5em 3em;
		border-bottom-right-radius: 170px;

		&__data {
			gap: 2em;
			margin-right: 7em;

			&-box {
				gap: 0.5em;
				max-width: 180px;

				.error-info {
					font-size: 1.3rem;
				}

				label {
					font-size: 1.4rem;
				}

				input {
					padding: 0.3em 0.8em;
					font-size: 3.2rem;
				}
			}
		}

		&__line {
			position: relative;
			padding: 2.5em 0;

			&-btn {
				left: 100%;
				top: 50%;
				padding: 1.2em;
				img {
					height: 3.8rem;
					width: 3.8rem;
				}
			}
		}

		&__info {
			&-text {
				font-weight: 700;
				font-style: italic;
				color: $off-black;
				font-size: 9rem;
				line-height: 1.2em;

				span {
					color: $purple;
				}
			}
		}
	}
}
